.Weather {
  background-image: url(/src/background.svg);
  background-position:bottom;
  background-size: 95%;
  height: 900px;
  background-repeat: no-repeat;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #878787;
  padding: 40px;
}

.Weather h1{
color: #FF6584;
font-weight: bold;
font-size: 24px;
line-height: 29px;
margin: 20px 0px 0px -1.5px;
}


.Weather ul {
  margin: 0;
  padding: 0;  
}
.Weather li {
font-size: 16px;
font-weight: 100;
line-height: 19px;
list-style: none;
}
.Weather .temperature {
  margin-left: 8px;
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
}
.Weather .units {
  color: rgb(33, 33, 33);
  font-weight: 400;
  font-size: 16px;
  position: relative;
  top: -34px;
}

.Weather canvas {
margin-top: 8px;
}
.Weather a {
  text-decoration: none;
}

.Weather .form-control {
  background: #fff;
  border-color: #acdbd1;
  border-radius: 6px;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  padding: 15px 20px;
}

.Weather .search-input {
  background: #acdbd1;
  border: none;
  border-radius: 6px;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  padding: 15px 20px;
}
